   <!-- Contenido Pagina empresa -->
        <div class="row empresa">
            <div class="col-lg-12">
                <h1 class="page-header">Nuestro Centro de Estetica</h1>
            </div>
            <div class="col-md-6">
                <p>En Gema Stetic puedes encontrar todo lo necesario para cuidarte:</p>
                <ul>
                    <li>Tratamientos de Belleza</li>
                    <li>Depilacion con Cera</li>
                    <li>Depilacion con Laser</li>
                    <li>Masajes de Descarga y Drenantes</li>
                    <li>Cuidado de Manos y pies</li>
                    <li>Tratamientos de Medicina Alternativa</li>
                </ul>
                <p>Ademas tambien realizamos todo tipo de servicios que se realizan en cualquier centro de belleza, queremos que cuando vengas a vernos te sientas relajado, te olvides de todo y disfrutes de tu tiempo en nuestro centro.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-circle" src="images/fachada.jpg" alt="">
            </div>
        </div>
        <!-- / Fin contenido -->
