<header >
   <carousel interval="setInterval">
     <slide data-ng-repeat="slide in slides" active="slide.active">
     <img class="carousel-image" data-ng-src="{{slide.image}}"/>
        <div class="carousel-caption">
              <h2>{{slide.title}}</h2>
              <p>{{slide.text}}</p>
        </div>
     </slide>
  </carousel> 
</header>
<!-- Contenido Home -->
    

        <!-- Seccion de Destacados -->
        <div class="row home">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bienvenido a Gema Stetic
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Nuestra Empresa</h4>
                    </div>
                    <div class="panel-body">
                        <p>Gema Stetic es un centro de Belleza Estetica y Masajes puedes encontrar los mejores Tratamientos , consultanos y trataremos de ofrecertelo al mejor precio y la mejor calidad.</p>
                        <a data-ui-sref="empresa" class="btn btn-default">Ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Nuestros Servicios</h4>
                    </div>
                    <div class="panel-body">
                        <p>En Nuestro Centro de Belleza Estetica y Masajes puedes encontrar las mejores Tarifas para tu cuidado personal, si tienes alguna pregunta no dudes en ponerte en contacto con nosotros</p>
                        <a data-ui-sref="servicios" class="btn btn-default">Ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Nuestra Localizacion</h4>
                    </div>
                    <div class="panel-body">
                        <p>Nos puedes encontrar en C/ Fernando de Rojas No 28 (Junto Calle VanDyck y Corte Ingles) en Salamanca, Solicita tu cita llamando al Telefono 629-336-326 o al 923-12-35-35</p>
                        <a data-ui-sref="localizacion" class="btn btn-default">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- / fin seccion destacados -->
<!-- Fin Contenido Home -->
